<web>
   <default>::server::NotFound</default>
   <root>::sampleserver::Welcome</root>
   <hello>::sampleserver::HelloWorld</hello>
   <stylesheet.css> ::server::FileRetriever </stylesheet.css>
   <prototype.js> ::server::FileRetriever </prototype.js>
   <xopro.js> ::server::FileRetriever </xopro.js>
</web>
